@import "../../../base.scss";

.controls {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
  @media (max-width: 575px) {
    justify-content: center;
    padding-left: 52px;
  }
}

.play_pause {
  height: 40px !important;
  margin: -5px 3px -3px;
  &.pause {
    svg {
      height: 30px;
      width: 30px;
      margin: 5px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.99);
    opacity: 0.3;
  }
  50% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.99);
    opacity: 0.3;
  }
}

.pulse_animation {
  transition: opacity 0.5s, transform 0.5s;
  &.on {
    animation: pulse 1s infinite ease-in-out;
  }
}

.episodes_list_button {
  position: absolute;
  right: 5px;
  bottom: 15px;
  &.hide_on_horizontal {
    @include horizontal-with-list {
      display: none;
    }
  }
}
