@import "../../base.scss";

.list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: $list-height;
  z-index: 3000;
  transition: top var(--transition-speed) ease-in-out;
  padding-bottom: 5px;

  padding-top: 40px;

  background: #333;

  .header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 40px;
  }

  &.open {
    top: 0;
  }

  @include portrait {
    height: auto;
    bottom: 0;
    padding-bottom: 0;
  }

  @include horizontal-with-list {
    position: relative;
    top: 0;
    z-index: 0;
    padding-top: 0;

    .header {
      display: none;
    }

    .loader {
      position: absolute;
      bottom: 0;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 180px;
      font-size: 60px;
      &:before {
        content: ".";
        animation-name: loader;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;

        @keyframes loader {
          0% {
            opacity: 0.3;
          }

          25% {
            content: "..";
          }

          50% {
            opacity: 0.5;
            content: "...";
          }

          75% {
            content: "..";
          }

          100% {
            opacity: 0.3;
            content: ".";
          }
        }
      }
    }
  }
}
