.header {
  box-sizing: border-box;
  background: #222;
  padding: 10px;
  font-weight: 500;
}

.close_button {
  float: right;
  padding: 10px 12px;
  box-sizing: border-box;
  margin: -10px;
  cursor: pointer;
  &:hover {
    color: #ccc;
  }
}
