@import "../base.scss";

.cover {
  height: 100%;
  img {
    height: 100%;
  }

  display: block;

  @include narrow-horizontal {
    display: none;
  }

  @include portrait {
    flex-grow: 1;
    height: 48%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    img {
      max-width: 64%;
      max-height: 100%;
      height: auto;
      align-self: center;
    }
  }
}
