.cover {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  margin-right: 2vw;
  margin-bottom: 2vh;

  display: flex;
  justify-content: center;

  img {
    align-self: center;
    max-height: 42vh;
    max-width: 70vw;
    border-radius: 8px;
    box-shadow: 0 0 8px 0px #00000087;
    margin: 4vh;
  }

  @media (max-aspect-ratio: 3/1) and (min-aspect-ratio: 3/2) {
    width: 33vw;
  }

  @media (max-aspect-ratio: 3/2) {
  }
}
