.title {
  font-size: 16px;
  margin-block-start: 0;
  margin-block-end: 2vh;
  margin-inline-start: 0;
  margin-inline-end: 0;
  @media (max-width: 260px) {
    font-size: 6vw;
  }
  @media (max-height: 160px) {
    font-size: 10vh;
  }
}
