.player {
  height: 100%;
  width: auto;
  max-width: 40%;
  background: black;
  cursor: pointer;

  @media (max-width: 450px) {
    position: absolute;
    width: 52px;
    height: 29px;
    bottom: 10px;
    left: 15px;
    border: 1px solid #ccc;

    @media (min-height: 320px) {
      position: initial;
      bottom: initial;
      left: initial;
      border: initial;

      width: 100%;
      height: auto;
      flex-grow: 1;
      max-width: 100%;
      min-height: 48%;
    }
  }
}

.hidden {
  display: none;
}
