.wrapper {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
  min-height: 180px;
  max-height: 180px;
  max-width: 800px;
  display: flex;
  overflow: hidden;
  border-radius: 8px;
  background-color: hsl(0deg, 0%, 40%);
}

.player {
  flex-grow: 1;
  padding: 10px;
  min-width: 0;
}

.podcloud_logo {
  position: absolute;
  top: 3px;
  right: 6px;
  width: 30px;
  height: 30px;
  opacity: 0.5;
  filter: grayscale(1);
  transition: filter 0.1s, opacity 0.1s;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    opacity: 1;
    filter: grayscale(0);
  }
}

.head {
  margin: 15px 15px 20px 0px;
}

.episodes_list {
  display: none;
}
