.timecodes {
  font-size: 13px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  @media (max-width: 260px) {
    font-size: 5vw;
    margin-bottom: 4vw;
  }
  @media (max-height: 160px) {
    font-size: 8vh;
    margin-bottom: 6vh;
  }
}
